body.full {
    margin: 0;
    padding: 0;
}
#transactions-section {
    width: 100%;
}

@media (max-width: 768px) {
    table {
        width: 100%;
    }
    th, td {
        white-space: nowrap;
    }

    .table-wrapper {
        overflow-x: auto;
    }

    .plot-container {
        width:100%;
        padding-bottom: 20px;
    }

    .hide-on-mobile {
        display: none;
    }
}

.text-right {
    text-align: right !important;
}

.plot-container {
    box-sizing: border-box;
    width: 850px;
    height: 450px;
    padding: 20px 15px 15px 15px;
    margin: 15px auto 30px auto;
    border: 1px solid #ddd;
    background: #fff;
    user-select: none;
}

.plot-placeholder {
    width: 100%;
    height: 100%;
    font-size: 14px;
}
.legend > svg > rect.background {
    opacity:0;
}

.logoheader {
    display: flex;
    align-items: center ;
}
.logoheader img {
    width: 64px;
    height: 64px;
    border: none;
}

.blur {
    color: transparent;
    padding: 5px;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
 }

 .blur:hover {
    color:black;
    text-shadow: none;
 }